.IndicatorMenuContainer {
	position: absolute;
	right: 0.5rem;
	bottom: calc(100% + 0.5rem);
	height: auto !important;
	overflow: hidden;
}

.IndicatorMenuContainer:not(.Active) {
	pointer-events: none;
}

.IndicatorMenuContainer:not(.Active) .IndicatorMenu {
	opacity: 0;
	transform: translateY(100px);
}

.IndicatorMenu {
	opacity: 1;
	display: flex;
	border: 1px solid rgba(255, 255, 255, 0.1);
	border-radius: 0.625rem;
	backdrop-filter: var(--taskbar-filter);
	transform: none;
	transition: opacity var(--transition-duration-1) var(--ease-in-out-default),
		transform var(--transition-duration-1) var(--ease-in-out-default);
	overflow: hidden;
	box-shadow: 0 1rem 3rem rgba(0, 0, 0, 0.32);
}

.IndicatorMenu::after {
	opacity: var(--taskbar-menu-opacity);
	content: "";
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	background-color: var(--taskbar-menu-color);
	z-index: -2;
}
